<h1 mat-dialog-title>Apply Course</h1>
<div mat-dialog-content [formGroup]="form">
    <mat-form-field class="full-width">
        <mat-label>Course</mat-label>
        <mat-select formControlName="course" required>
          
          <mat-option *ngFor="let element of coursesDropdown" [value]="element.id">
            {{element.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['course'].hasError('required')">Please choose a course</mat-error>
      </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onClose()">Close</button>
    <button mat-raised-button color="primary" (click)="onAdd()" cdkFocusInitial>Apply</button>
</div>